<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>

    <title>Boolzap</title>
</head>
<body>
    <div class="green_bar"></div>

    <!-- container chat -->
    
    <div id="app" class="container">
        <!-- left container -->
        <div class="container_left">
            <!-- header left -->
            <div class="header_left">
                <div v-for="item in user" :key="item.name" :key="item.immagine" class="container_id">
                    <img class="avatar_id" :src="item.immagine" alt="">
                    <p>{{item.nome}}</p>
                </div>
                <div class="container_icons">
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>
            <!-- /header left -->
            <!-- notifies and search -->
            <div class="message_notify_container">
                <i class="fas fa-bell-slash"></i>
                <div class="container_bell">
                    <p><strong>Ricevi notifiche di nuovi messaggi</strong></p>
                    <a href="">Attiva notifiche desktop</a>
                </div>
            </div>
            <div class="search_container">
                <label for="">
                    <i class="fas fa-search"></i>
                    <input class="search" type="text" placeholder="Cerca o inizia una nuova chat">
                </label>
            </div>    
            <!-- /notifies and search -->
            <!-- avatar list -->

            <div class="avatar_container">
                <ul class="avatar_list">
                    <li v-for="(val, index) in avatarArray" :key="val.nome" :key="val.immagine" @click="indexContatto(index)">  
                        <img class="avatar" :src= "val.immagine" alt="">
                        {{val.nome}}
                    </li>
                </ul>
            </div>

            <!-- /avatar list -->
        </div>
        <!-- /left container -->
        <!-- right container -->
        <div class="container_right">
            <div class="header_right">
                <div class="container_id" v-for="val in user">
                    <img class="avatar_id" :src="utenteSelezionato.immagine" :key="val.date">
                    <div class="contact_container">
                        <p>{{utenteSelezionato.nome}}</p>
                        <p class="access">Ultimo accesso oggi alle {{indexData}}</p>
                    </div>
                </div>
                <div class="container_icons">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
            </div>
            </div>
            <div class="chatbox">
                
            <!-- messages -->
                <div v-for="(val,index) in utenteSelezionato.message" :class="(val.status == 'received') ? 'received' : 'sent'" class="message">
                    <p>{{val.text}}</p>
                    <p class="time_chat">{{val.date}}</p>
                </div>

            </div>


            <!-- /messages -->

            <div v-for="(val,index) in utenteSelezionato.message" class="chatbar_container">
                <i class="far fa-smile"></i>
                <input class="chat" type="text" placeholder="Scrivi un messaggio" v-model="chat"
                @keyup.enter="sendChat()">
                <i class="fas fa-microphone"></i>
            </div>
            
        </div>
        <!-- /right container -->
    </div>

    <!-- /container chat -->







    <script src="js/script.js"></script>
</body>
</html>